<% layout("/layouts/boilerplate") -%>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<style>

@media (max-width: 430px) {
    /* .listings-image {
        width: 100%; 
        height: auto;
    } */
    #map{
        height: 15rem;
        width: 21.5rem;
    }
    #review{
        height: auto;
        width: auto;
        padding: 0%;
    }
    #main{
        
        width:21.6rem;
    }
    .locations {
        width:20rem;
    }
    .descriptions{
        width: 20rem;
    }
    .auth-text {
    display: block; /* Ensure each element is on a new line */
    font-size:0.881rem;
    }
    .signup-prompt {
    display: block;
    margin-left: 0; /* Reset margin for mobile view */
    }
}
/* @media (min-width: 800px) and (max-width: 830px) {
    #map{
        height: 25rem;
        width: 30rem;
    }
    #main{
        width: 100vh;
    }
}     */
.titles{
        font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
    font-size:24px;
    }
    .owners{
        font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #767676;
    }
    .descriptions{
        font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    color: #484848;
    }
    .prices{
        font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #484848;
    }
    .locations{
        font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: #555;
    font-style: italic;
    display: flex;
    align-items: center;
    }
    .locations i{
        color: #ff5a5f;
    }
</style> 

    <body>
        <script>
            const mapToken= "<%= process.env.MAP_TOKEN %>";
            const listing= <%- JSON.stringify(listing) %>;
        </script>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">

                    <h3 class="titles"><b>
                            <%= listing.title %>
                        </b></h3>
                    <div class="card listing-card card" style="width: 80%;">
                        <img src="<%= listing.image.url %>" class="card-img-top listings-image" alt="listings_image" id="main">
                        <div class="card-body">
                            <p class="card-text">
                                <p class="owners"> <i class="fas fa-user-circle fa-lg"></i> Owned by <i><%= listing.owner.username %> </i></p>
                                <p class="descriptions">"<%= listing.description %>"</p>
                                <p class="prices"> &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : 'Price not available'
                                        %>/Night</p>
                                <p class="locations"><i class="fa-solid fa-location-dot"></i> &nbsp;<%= listing.location %> ,&nbsp;<%= listing.country %></p>            
                            </p>

                            <% if (curruser && curruser._id.equals(listing.owner._id)) { %>
                                <div class="card-btn">
                                <form method="get" action="/listings/<%= listing._id %>/edit">
                                    <button class="btn" style="background-color: #4e8cff !important;">Edit</button>
                                </form>
                                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                                    <button class="btn" style="background-color: #dc3545 !important;">Delete</button>
                                </form>
                            </div>
                            <% } %>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-12 col-md-8 offset-md-3">
                <% if (curruser) { %>
                 <h3>Leave a review</h3>
                <form method="post" action="/listings/<%= listing._id %>/reviews" class="mb-3 needs-validation" novalidate>
                    <div class="mb-3 mt-3">
                        <fieldset class="starability-basic">
                            <legend>Rating:</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="comment" class="form-label">Comment</label>
                        <textarea id="comment" name="review[comment]" cols="30" rows="5" class="form-control"
                            required></textarea>
                        <div class="invalid-feedback">
                            please enter comment
                        </div>
                    </div>
                    <button class="btn" style="background-color: #4CAF50 !important;">submit</button>
                </form>
                <% } %>

                <% if (listing.reviews.length > 0) { %>        
                <div class="row">
                    <h4><b>All Reviews</b></h4>
                    <% for(review of listing.reviews) { %>
                        <div class="card col-5 ms-3 mb-3" id="review">
                            <div class="card-body">
                                <h5 class="card-title"> <i class="fa-solid fa-circle-user fa-lg" style="color: gray;"></i> <%= review.author.username %></h5>
                                <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                                <p class="card-text"><%= review.comment %></p>

                                <!-- <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                    <button class="btn btn-dark" style="background-color: black !important;">Delete</button>
                                </form> -->

                                <% if (curruser && curruser._id.toString() === review.author._id.toString()) { %>
                                    <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                        <button class="btn btn-dark" style="background-color: #dc3545 !important;">Delete</button>
                                    </form>
                                <% } %>

                            </div>
                        </div>  
                    <% } %>
                </div>
                <% } %>
            </div>

            <% if (!curruser) { %>
             <div class="col-12 col-md-8 offset-md-3 mt-3 mb-3">
                <p class="auth-text">
                  <a href="/login" class="auth-link">Login</a> to write a review.
                  <span class="signup-prompt">
                    Don't have an account? <a href="/signup" class="auth-link">Sign up</a>
                  </span>
                </p>
            </div>
            <% } %>
                          
            <div class="col-12 col-md-8 offset-md-3 mt-3 mb-3">
                    <h4>Where you'll be</h4>
                    <div id="map"></div>
            </div>
            
        </div>
        </div>
        <script src="/js/map.js"></script>
    </body>